p {
  font-family: cursive;
  color: royalblue;

}
h1 {
text-align: center;
  color: blueviolet;
  text-shadow: 2px 2px black;
  text-decoration: underline;
  text-decoration-style: dotted;
  
}
h4{
  font-family: sans-serif;
  color: aquamarine;
  text-shadow: 1px 1px black;
}
img{
 padding-left:500px;
}